.adsBannerCard {
    height: 500px;
    width: 100px;
   
}

.adsBannerCard img {
   width: 100px;
   height: 100%;
}

.emtyBanner {
    height: 400px;
    width: 120px;
   
}

.adsBannerCard button {
    color: white;
    font-weight: 1000;
    background-color: red;
    width: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
}