.advertiseBox {
 
  height: 25%;
  text-align: center;
  margin-bottom: 30px;
}

.advertiseBox p {
  color: grey;
  font-size: small;
}

.advertiseBox button {
  width: 20px;
 border-radius: 50%;
 border: none;
}