.container {
    display: flex;
}

.bannerImg {
   
   
margin-left: 180px;

}
 
.left {
    margin-top: -100px;
}

.Login {
    background-color: black;
    border-radius: 10px;
    width: 400px;
    text-align: center;
    margin: auto;
    padding: 80px;
    margin-top: 50px;
    padding-top: 100px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
  
.Login input {
    margin-bottom: 20px;
    margin-left: -30px;
    padding: 8px;
    width: 300px;
    margin-top: -100px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.Login h5 {
    
   float: left;
   margin-left: 5px;
}

.Login button {
    padding: 10px;
    width: 190px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(122, 7, 7);
    color: white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid red;
}


.Login button:hover {
    background-color: red ;
}
