.newsCard {
	width: 45%;
	border-bottom: 1px dotted grey;
	margin-right: 4%;
	margin-bottom: 12px;
	max-height: 68px;
	overflow: hidden;
}

.title {
	width: 70%;
	text-align: left;
	float: left;
}

.poster {
	padding-top: 5%;
	width: 27%;
	float: right;
}

.poster img {
	width: 100%;
}
