.newsCard {
    /* display: flex; 
    flex-direction: row;
    flex-wrap: wrap; */
    width: 45%;
    /* height: 30%; */
    border-bottom: 1px dotted grey; 
  
    margin-right: 4%;
    margin-bottom: 2%;
    max-height: 70px;
    overflow: hidden;
   
}

.title {
    width: 70%;
    text-align: left;
    float: left;
}

.poster {
    padding-top: 5%;
    width: 27%;
    float: right;
   
    
}

.poster img {
    width: 100%;
   
    
}

