.register {
    width: 400px;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 100px;
    padding: 50px ;
    box-shadow: 5px 10px 8px #888888;
}

.register input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
}

.register button {
    
    padding: 15px;
    width: 250px;

}

