.topAdverRedBox {
	/* border: 1px solid black; */
	height: 45px;
	width: 85%;
	margin-left: 7%;
	display: flex;
	margin-bottom: 2%;
	border-radius: 5px;
	color: white;
	background-color: #e21b22;
}

.topAdverRedBox div {
	border-radius: 5px;
	font-size: large;
	font-weight: 800;
	padding-top: 0.2%;
	padding-bottom: 0.2%;
	padding-right: 1%;
	padding-left: 1.5%;
	width: fit-content;
	height: fit-content;
	margin-right: 1%;
	margin-left: 1.5%;
	margin-top: 0.8%;
	font-weight: 600;
	background-color: #ffffff;
	color: #e21b22;
}

.topAdverRedBox h3 {
<<<<<<< HEAD
	margin-top: 1%;
	font-size: 20px;
	font-weight: 400;
}

.topAdverRedBox p {
	margin-left: 19%;
	margin-top: 0.8%;
	font-size: large;
	color: lightgrey;
}
=======
    margin-top: 0.5%;
    font-size: 20px;
    font-weight: 400;
}

.topAdverRedBox p {
   
    margin-left: 15%;
    margin-top: 0.8%;
    font-size: large;
    color: lightgrey;
}
>>>>>>> 54059dc7731f5990a52e77e109f9303c46e74293
